{% extends 'layout.html' %}
{% block content %}
<h1>Connexion à un compte</h1>
<form action="/connection_a_un_compte" method="post">
    <div class="form-group">
        {% if erreurs["nonexistant"] | length != 0 %}
        <span class="form-control is-invalid">{{erreurs["nonexistant"]}}</span>
        {% endif %}
        <label for="nom">Nom d'utilisateur</label>
        <input type="text" class="form-control" name="nom" id="nom">
    </div>
    <div class="form-group">
        <label for="motdepasse">Mot de passe</label>
        <input type="password" class="form-control" name="motdepasse" id="motdepasse">
    </div>
    <button type="submit" class="btn btn-primary">Connexion</button>
</form>
{% endblock %}