{% extends 'layout.html' %}
{% block content %}
<h1>Inscription</h1>
<form action="/add_compte" method="post">
    <div class="form-group">
        <label for="nom">Nom d'utilisateur</label>
        {% if erreurs["nom"]| length != 0 %}
        <span class="form-control is-invalid">{{erreurs["nom"]}}</span>
        {% endif %}
        <input type="text" class="form-control" name="nom" id="nom">
    </div>
    <div class="form-group">
        <label for="motdepasse">Mot de passe</label>
        {% if erreurs["motdepasse"]| length != 0 %}
        <span class="form-control is-invalid">{{erreurs["motdepasse"]}}</span>
        {% endif %}
        <input type="password" class="form-control" name="motdepasse" id="motdepasse">
    </div>
    <div>
        <label for="admin">Administrateur</label>
        <input type="checkbox" name="admin" id="admin" value="1">
    </div>
    <button type="submit" class="btn btn-primary">Inscription</button>
</form>
{% endblock %}