<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>TP3</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-21PKDMRH94"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-21PKDMRH94');

    </script>
</head>
<body class="container">
<form action="/lang_change" method="post">
    <label for="langue">Langue :</label>
    <select name="langue" id="langue">
        <option {% if session.get(
        "langue") == "fr_CA" %} selected {% endif %} value="fr_CA">fr_CA</option>
        <option {% if session.get(
        "langue") == "en_CA" %} selected {% endif %} value="en_CA">en_CA</option>
    </select>
    <button type="submit">Confirmer</button>
</form>
<nav>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Liste des cas par région</a>
        </li>
        {% if session.get("connected") == 1 %}
        <li class="nav-item">
            <a class="nav-link" href="/cas">Liste des cas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/saisie_cas">Saisir un cas</a>
        </li>
        {% endif %}
        {% if session.get("connected") is none %}
        <li class="nav-item">
            <a class="nav-link" href="/connection">Se connecter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/inscription">S'inscrire</a>
        </li>
        {% endif %}
        {% if session.get("connected") == 1 %}
        <li class="nav-item">
            <a href="/deconnection" class="nav-link">Déconnexion</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% block content %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>