{% extends "layout.html" %}
{% block content %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Accès interdit</h5>
    <h6 class="card-subtitle mb-2 text-muted">403</h6>
    <p class="card-text">L'accès à cette fonctionalité est interdite selon vos droits d'accès.</p>
    <a href="/" class="card-link">Revenir au menu.</a>
  </div>
</div>
{% endblock %}