{% extends "layout.html" %}
{% block content %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Accès non autorisé</h5>
    <h6 class="card-subtitle mb-2 text-muted">401</h6>
    <p class="card-text">Vous n'avez pas les droits requis pour cette page.</p>
    <a href="/" class="card-link">Revenir au menu.</a>
    <a href="/connection" class="card-link">Connectez vous.</a>
  </div>
</div>
{% endblock %}