{% extends 'layout.html' %}
{% block content %}

<h1>Liste Cas par région</h1>
<table class='table'>
    <tr>
        <th>Région</th>
        <th>Cas</th>
    </tr>
    {% for region in regions %}
    <tr>
        <td>{{region.nom}}</td>
        <td>{{nb_cas[region.nom]}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}