{% extends "layout.html" %}
{% block content %}
<h1>Liste des cas</h1>
{% if deleted == "true" %}
<div class="form-control is-valid">Cas supprimé avec succès!</div>
{% endif %}
<table class='table'>
    <tr>
        <th>Date</th>
        <th>Région</th>
        <th>Initiales</th>
        <th>Action</th>
    </tr>
    {% for cas in liste_cas %}
    <tr>
        <td>{{dates[cas.id]}}</td>
        <td>{{regions[cas.region_id-1].nom}}</td>
        <td>{{cas.prenom[0]}}{{cas.nom[0]}}</td>
        {% if session["admin"] == 1 %}
        <td><a href='/supprimer/{{cas.id}}'>Supprimer</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}