{% extends 'layout.html' %}
{% block content %}
<h1>Saisie</h1>
<form action="/ajout_cas" method="post">
    <div class="form-group">
        <label for="nom">Nom</label>
        {% if erreurs["nom"]| length != 0 %}
        <span class="form-control is-invalid">{{erreurs["nom"]}}</span>
        {% endif %}
        <input type="text" class="form-control" name="nom" id="nom" value="{{cas.nom}}">
    </div>
    <div class="form-group">
        <label for="prenom">Prénom</label>
        {% if erreurs["nom"]| length != 0 %}
        <span class="form-control is-invalid">{{erreurs["prenom"]}}</span>
        {% endif %}
        <input type="text" class="form-control" name="prenom" id="prenom" value="{{cas.prenom}}">
    </div>
    <div class="form-group">
        <label for="region">Régions</label>
        {% if erreurs["nom"]| length != 0 %}
        <span class="form-control is-invalid">{{erreurs["region"]}}</span>
        {% endif %}
        <select class="form-control" id="region" name="region">
            <option value="-1" selected>Choisissez une région</option>
            {% for region in regions %}
            <option value="{{region.id}}">{{region.nom}}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>
{% endblock %}