{% extends "layout.html" %}
{% block content %}
<h2>Saisie réussie!</h2>
<div><a href="/cas">Aller à la liste des cas</a></div>
<div><a href="/saisie_cas">Saisir un nouveau cas</a></div>
{% endblock %}